<app-header></app-header>
<section id="pricing" class="pricing">
    <div class="container">
      <div class="section-title" data-aos="zoom-out">
        <h2> Client {{this.nameClient}}</h2>
        <p>Listes commandes </p>
      </div>
        <div class="col-lg-12">
            <table class="table table-hover table-striped table-responsive-lg" style=" box-shadow: 0 10px 10px rgba(0,0,0,.2);">
                <thead class="table-dark">
                  <tr>
                    <th scope="col" class="text-center">id produit</th>
                    <th scope="col">image</th>
                    <th scope="col" class="text-center">nom produit</th>
                    <th scope="col">couleur</th>
                    <th scope="col">quantite</th>
                    <th scope="col">prix</th>
                    <th scope="col">total prix</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor=" let item of ListesCommande | paginate: { itemsPerPage: 3, currentPage: pages,totalItems : totallength}">
                    <td>{{item.idProduct}}</td>
                    <td><img src="{{item.image}}" class="card-img-top" style="width:150px;height:150px" alt="..."></td>
                    <td style="font-weight: bold; color: coral">{{item.name}}</td>
                    <td>{{item.color}}</td>
                    <td>{{item.quantite}}</td>
                    <td style="font-weight: bold; color: coral;">{{item.price}} €</td>
                    <td style="font-weight: bold; color: coral;">{{roundPrice(getItemTotalPrice(item))}} €</td>
                  </tr>
                </tbody>
              </table>
              <br>
              <div fxLayoutAlign="center center" class="pagination">
                <pagination-controls (pageChange)="pages = $event"></pagination-controls>
               </div> 
        </div>
        <div style="margin-left:1000px;margin-top: -30px;">
          <h5 style="color:coral;font-weight: bold;">TOTAL A PAYER: {{roundPrice(getTotalPrice())}} €</h5>
        </div> 
      </div>
  </section>
  <app-footer></app-footer>