.card{
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
    margin-left: 2rem;
    margin-top: 3rem;
    transition: transform 0.5s;
    width: 450px;
    border-color: rgb(255, 136, 0);
}
.card:hover{
   
    transform: scale(1.1);
    /*transform: rotatey(180deg);*/
}
.card-text{
    font-size:medium;
    font-weight: bold;
}
.card-title{
   color: rgb(255, 140, 0);
}
.quantite{
    width: 60px;
}
@keyframes hover{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
    /* 0%{
        transform: rotatey(0deg);
    }
    100%{
        transform: rotatey(180deg);
    } */
}


